<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Contact Book Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-inverse fixed-top bg-inverse navbar-toggleable-md">
            <button class="btn btn-sm btn-outline-success navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-label="Toggle Navigation" aria-controls="navbarNavDropdown" aria-expanded="false" ><span class="fa fa-chevron-down"></span></button>
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Observables", "Observables", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("DataBindings", "DataBindings", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Bindings", "Bindings", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("RestBindings", "RestBindings", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="container-fluid">
        @RenderBody()
        <hr />
    </div>

    <div class="navbar navbar-inverse fixed-bottom bg-inverse">
        <footer>
            <p class="navbar-brand">&copy; @DateTime.Now.Year - MN's Contact Book</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>